extends layout

block content
  div
    main
        h2 Välkommen till Veckans mat!
        p Här kan du lägga in maträtter du brukar laga, lägga till sökord och slumpa veckomatsedel utifrån dina val.
        h3 1. Börja med att lägga till maträtter.
        p Ju fler desto bättre!
        h3 2. Fortsätt med att lägga till sökord för alla veckans dagar.
        p Kanske vill du ha vegetariskt på måndag, soppa på torsdag osv...
        h3 3. Slumpa en veckomatsedel baserad på dina val!
