extends layout

block content
  div
    main
      form(name="login-form", action="/login", method="post")
        h2 Logga in till existerande konto:
        p
          label Användarnamn:
          input(type="text", name="username")
        p
          label Lösenord:
          input(type="text", name="password")
        p
          input(type="submit", value="Logga in")
      form(name="register-form", action="/register", method="post")
        h2 Registrera konto:
        p
          label Användarnamn:
          input(type="text", name="username")
        p
          label Lösenord:
          input(type="text", name="password")
        p
          label Förnamn:
          input(type="text", name="firstname")
        p
          label Efternamn:
          input(type="text", name="lastname")
        p
          input(type="submit", value="Registrera konto")
